<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi,
            quasi sint nesciunt voluptatum itaque doloremque repudiandae aliquam
            qui ipsa nostrum consequatur iusto accusantium aut ducimus
            consectetur pariatur deserunt enim a maiores exercitationem velit
            impedit dolore voluptates! Exercitationem soluta est deleniti autem
            facilis, at quod similique facere excepturi alias qui tempora.
        </p>

        <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
        </ul>
    </body>
</html>
